@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


.card-img-top{
  height: 200px;
}
.slider-img{
  height: 500px;
}
.title-text{
  font-size: 3.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
}
.desc-text{
  letter-spacing: 2px;
}
.single-title{
  margin-top: 10px;
  font-size: 2.5rem;
  font-weight: 900;
}
.about-us{
  font-size: 1.5rem;
  font-weight: 500;
}
ul{
  list-style: none;
}
li{
  margin-bottom: 5px;
}
.gmap_canvas 
{overflow:hidden;background:none!important;height:200px;width:300px;}